name: Checks
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Checks
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # OR "2" -> To retrieve the preceding commit.
    - uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@v39
    - run: pip install --upgrade pip
    - run: pip install "black<23" pylint==v3.0.0a3 mypy==v0.902 pydocstyle
    - run: black --diff --check $(git ls-files '*.py')

